fastapi[all]
python-jose[cryptography]
passlib
psycopg2-binary
psycopg[binary]
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
asyncio
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
dnspython
email_validator
executing
fastapi
fastjsonschema
fqdn
frozenlist
h11
httpcore
httptools
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
MarkupSafe
matplotlib-inline
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
orjson
overrides
packaging
pandas
pandocfilters
parso
platformdirs
prometheus_client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pywin32; platform_system=="Windows"
pywinpty; platform_system=="Windows"
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack-data
starlette
terminado
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
ujson
uri-template
urllib3
uvicorn
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
yarl
boto3
botocore
jmespath
s3transfer
sqlalchemy
sqlalchemy-redshift
setuptools
gitpython
cryptography
asyncpg
redis
gunicorn